# GribID;SmartMetID;Name;Base;Scale;LevelType;LevelValue;InterpolationMethod

# 1: Pressure Reduced To MSL [Pa]
260074;1;Pressure Reduced To MSL (prmsl);0;0.01;102;0

# 4: 2 Metre Temperature [K]
167;4;2 Metre Temperature (2t);-273.15;1;105;2

# 4: Temperature 0m [K]
130;288;Temperature 0m (t);-273.15;1;1;0

# 5: Maximum Temperature [K]
3015;5;Maximum Temperature (tmax);-273.15;1;105;2

# 6: Minimum Temperature [K]
3016;6;Minimum Temperature (tmin);-273.15;1;105;2

# 9: Pseudo-adiabatic Potential Temperature [K]
3014;9;Pseudo-adiabatic Potential Temperature (papt);-273.15;1;105;2

# 13: 2 Metre Relative Humidity [%]
260242;13;2 Metre Relative Humidity (2r);0;1;105;2

# 17: Orography [m]
228002;17;Orography (orog);0;1

# 21: 10 Metre Wind Speed [m s**-1]
207;21;10 Metre Wind Speed (10si);0;1;105;10

# 23: 10 Metre U Wind Component [m s**-1]
165;23;10 Metre U Wind Component (10u);0;1;105;10

# 24: 10 Metre V Wind Component [m s**-1]
166;24;10 Metre V Wind Component (10v);0;1;105;10

# 47: Precipitable Water [kg m**-2]
3054;47;Precipitable Water (pwat);0;1;200;0

# 48: Convective Precipitation (water) [kg m**-2]
3063;48;Convective Precipitation (water) (acpcp);0;1

# Changed to 353 to make WeatherAndCloudines work
# 50: Total Precipitation [kg m**-2]
#228228;50;Total Precipitation (tp);0;1
228228;353;Precipitation;0;1

# 51: Snow Depth [m]
3066;51;Snow Depth (sde);0;1

# 55: Large Scale Precipitation (non-convective) [kg m**-2]
260009;55;Large Scale Precipitation (non-convective) (ncpcp);0;1

# 79: Total Cloud Cover [%]
228164;79;Total Cloud Cover (tcc);0;1;200;0

# 140: Vertical Velocity [Pa s**-1]
135;140;Vertical Velocity (w);0;1

# 273: Low Cloud Cover [%]
3073;273;Low Cloud Cover (lcc);0;1;214;0

# 274: Medium Cloud Cover [%]
3074;274;Medium Cloud Cover (mcc);0;1;224;0

# 275: High Cloud Cover [%]
3075;275;High Cloud Cover (hcc);0;1;234;0

# 281: Land-sea Mask [(0 - 1)]
172;281;Land-sea Mask (lsm);0;1

# 285: Soil Temperature [K]
228139;285;Soil Temperature (st);-273.15;1;112;0

# 286: Volumetric Soil Moisture Content [Proportion]
260185;286;Volumetric Soil Moisture Content (soilw);0;1;112;0

# 407: Visibility [m]
3020;407;Visibility (vis);0;1

# 417: Wind Speed (gust) [m s**-1]
260065;417;Wind Speed (gust) (gust);0;1;105;10

# 59: CAPE
59;59;CAPE;0;1

# 66: CIN
228001;66;CIN;0;1

# 10: 2 m Dewpoint Temperature (K)
168;10;2 Metre Dewpoint Temperature;-273.15;1;105;2

# 472: Surface Pressure [Pa]
#134;472;Surface Pressure (sp);0;0.01

# 532: Sea Ice Area Fraction [(0 - 1)]
#31;532;Sea Ice Area Fraction (ci);0;1
