#
# Grib to QD Conversion Tables for Centre KWBC
#
#
# ECMWF Parameter Database
# http://apps.ecmwf.int/codes/grib/param-db
#
# List of available SmartMetIDs
# qdinfo -l

# GribID;SmartMetID;Name;Base;Scale;LevelType;LevelValue;InterpolationMethod

# 2: Geopotential Height [gpm]
156;2;Geopotential Height (gh);0;1

# 4: Temperature [K]
130;4;Temperature (t);-273.15;1

# 13: Relative Humidity [%]
157;13;Relative Humidity (r);0;1

# 23: U Component Of Wind [m s**-1]
131;23;U Component Of Wind (u);0;1

# 24: V Component Of Wind [m s**-1]
132;24;V Component Of Wind (v);0;1

# 79: Total Cloud Cover [%]
228164;79;Total Cloud Cover (tcc);0;1

# 140: Vertical Velocity [Pa s**-1]
135;140;Vertical Velocity (w);0;1
