# 1: Pressure Reduced To MSL [Pa]
260074;1;Pressure Reduced To MSL (prmsl);0;0.01;102;0

# 4: 2 Metre Temperature [K]
167;4;2 Metre Temperature (2t);-273.15;1;105;2

# 4: Temperature 0m [K]
130;288;Temperature 0m (t);-273.15;1;1;0

# 13: 2 Metre Relative Humidity [%]
260242;13;2 Metre Relative Humidity (2r);0;1;105;2

# 23: 10 Metre U Wind Component [m s**-1]
165;23;10 Metre U Wind Component (10u);0;1;105;10

# 24: 10 Metre V Wind Component [m s**-1]
166;24;10 Metre V Wind Component (10v);0;1;105;10

# 50: Total Precipitation [kg m**-2]
1008;50;Total Precipitation (tp);0;1

# 273: Low Cloud Cover [%]
3073;273;Low Cloud Cover (lcc);0;1

# 274: Medium Cloud Cover [%]
3074;274;Medium Cloud Cover (mcc);0;1

# 275: High Cloud Cover [%]
3075;275;High Cloud Cover (hcc);0;1

